<div id="outer-div">
    <div id="inner-div"> 
        <h1>Welcome to Cashback Tokens</h1>
    </div>
    <div id="outer-container">
        <div id="container">
            <div id="registeration-container">
                <h1>Register here</h1>
                <form [formGroup]="registrationForm" (ngSubmit)="register()">
                    <div id="form-container">
                        <div class="form-class">
                            <label for="username">Username:</label>
                            <input formControlName="username" placeholder= "Username" type="text" id="username" required>
                            <!-- <div>
                              <span class="error-message">Username is required.</span>
                            </div> -->
                          </div>
                        
                          <div class="form-class">
                            <label for="email">Email:</label>
                            <input formControlName="email" placeholder= "Email" type="email" id="email" required>
                            <!-- <div>
                              <span class="error-message">Valid email is required.</span>
                            </div> -->
                          </div>
                        
                          <div class="form-class">
                            <label for="password">Password:</label>
                            <input formControlName="password" placeholder= "Password" type="password" id="password" required>
                            <!-- <div>
                              <span class="error-message">Password is required and should have at least 6 characters.</span>
                            </div> -->
                          </div>
                          
                    </div>
                    <button type="submit">Register</button>
                  </form>
            </div>
          
        </div>
    </div>

</div>
